@import "tailwindcss";

@theme {

  
     /* BRAND */
  
  --color-primary: #D3E4E0; /* Aqua green */
  --color-secondary: #FAB110; /* Amber */

  
     /* BACKGROUND / SURFACE */
  
  --color-background: #EBF4F3; /* Light Aqua green */
  --color-surface: #FFFFFF;   /* white for cards and modals */
  

  
     /* TEXT COLORS */
  
  --color-text: #111111;          /* Main text */
  --color-text-muted: #6b7280;    /* Secondary text */
  --color-text-subtle: #9ca3af;   /* Disabled / captions */
  --color-text-inverted: #ffffff; /* On dark background */

  
     /* BORDER */
  
  --color-border: #e5e7eb;
  --color-border-muted: #f1f5f9;

  
     /* STATUS COLORS */
  
  
  --color-success: #16a34a;
  --color-success-bg: #ecfdf5;

  --color-error: #dc2626;
  --color-error-bg: #fef2f2;

  --color-warning: #d97706;
  --color-warning-bg: #fffbeb;

  --color-info: #2563eb;
  --color-info-bg: #eff6ff;

  
  
     /* SHADOWS  */
  
  --shadow-soft: 0 8px 30px rgba(0, 0, 0, 0.04);
  --shadow-dark: 0 4px 20px rgba(0, 0, 0, 0.2);
}